<mat-toolbar color="primary" class="mat-elevation-z6 bg-primary" style="height: 6vh !important;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>GoldWin</span>

    <div class="header-menu">
        <ul>
            <li><a>NewLoan</a></li>
            <li><a>Redeem</a></li>
            <li><a>Additional</a></li>
            <li><a>Partial</a></li>          
        </ul>  
    </div>
      
    <span class="header-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
