<div class="card-wrapper shadow">
  <div class="card-body">
    <div
      [ngClass]="{
        'bg-icon-blue ': cardData.icon == 'note_add',
        'bg-icon-green ': cardData.icon == 'summarize',
        'bg-icon-purple ': cardData.icon == 'note_alt',
        'bg-icon-red ': cardData.icon == 'post_add',
        'bg-icon-pink ': cardData.icon == 'task'
      }"
      class="card-icon shadow"
      (click)="newTransaction(cardData.name)"
      (keyup.enter)="newTransaction(cardData.name)"
      tabindex="1"
    >
      <mat-icon class="mat-18">{{ cardData.icon }}</mat-icon>
    </div>
    <div class="card-content">
      <h5 class="card-title">{{ cardData.name }}</h5>
      <div class="card-amount">{{ cardData.sum | currency: "₱ " }}</div>
      <button class="btn btn-primary btn-count" tabindex="-1" (click)="viewListTransaction(cardData.name)">
        {{ cardData.count }}
      </button>
    </div>
    <mat-divider> </mat-divider>
  </div>
</div>
