<div class="card-wrapper shadow">
  <div class="card-body">
    <div class="card-icon shadow" (click)="newTransaction(cardData.name)">
      <mat-icon class="mat-18">{{ iconName }}</mat-icon>
    </div>
    <div class="card-content">
      <h5 class="card-title">{{ cardData.name }}</h5>
      <div class="card-amount">{{ cardData.sum | currency: "₱ " }}</div>
      <button class="btn btn-primary btn-count" (click)="viewTransaction()">
        {{ cardData.count }}
      </button>
    </div>
    <mat-divider> </mat-divider>
  </div>
</div>
