<div
  class="card d-card "
  style="cursor: pointer"
  (click)="newTransaction(cardData.transactionName)"
>
  <div class="card-body">
    <h5 class="card-title">{{cardData.transactionName}}</h5>
    <div style="display: flex; align-items: center; height: 3rem">
      <p
        class="card-text"
        style="width: 10rem; font-size: 1.2em; margin-top: 0.5em"
      >
        {{cardData.transactionTotal | currency}}
      </p>
      <button class="btn btn-primary" style="font-weight: 500; width: 3rem; height: 3rem; border-radius: 50%;" routerLink="">
       {{cardData.transactionCount }}
      </button>
    </div>
    <mat-divider> </mat-divider>
  </div>
</div>
