@import "../_sass/main.scss";

.card-wrapper {
  height: 100% !important;
  position: relative;
  background: transparent;

  .bg-icon-blue {
    background-color: $blue !important;
  }
  .bg-icon-indigo {
    background-color: $indigo !important;
  }
  .bg-icon-purple {
    background-color: $purple !important;
  }
  .bg-icon-red {
    background-color: $red !important;
  }
  .bg-icon-pink {
    background-color: $pink !important;
  }

  .card-icon {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    position: absolute;
    margin-top: -2.5rem;
    text-align: center;
    border-radius: 0.3rem;
    line-height: 100px;

    mat-icon {
      height: 3rem;
      width: 3rem;
      color: white;
      font-size: 2.3rem;
    }


  }
  .card-content {
    position: relative;
    .card-title {
      margin-top: 0.5rem;
      margin-left: 7rem;
      font-size: 1.2rem;
    }
    .card-amount {
      margin-top: 1.2rem;
      width: 70%;
      font-size: 1rem;
    }
    .btn-count {
      margin-left: 75%;
      width: 3rem;
      margin-top: -2rem;
    }
  }
}
