<div
  style="
    margin-top: 0;
    height: 100%;
    background-color: rgb(206, 216, 224);
    padding: 2rem;
    width: 30%;
  "
  class="container"
>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Appraisal Value</span>
    <input class="form-control" type="number" />
  </div>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Total Loan</span>
    <input class="form-control" type="number" />
  </div>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Interest</span>
    <input class="form-control" type="number" />
  </div>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Advance Interest</span>
    <input class="form-control" type="number" />
  </div>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Advance Interest</span>
    <input class="form-control" type="number" />
  </div>
  <div class="input-group mb-2 shadow-sm font-monospace">
    <span class="btn-primary">Advance Interest</span>
    <input class="form-control" type="number" />
  </div>
</div>
