<form [formGroup]="newLoanForm" (ngSubmit)="onSave()" autocomplete="off">
  <div class="shadow-sm text-white newloan-title">
    <h2 class="font-monospace transaction-number">Transaction #: 10050</h2>
    <h2 class="text-center font-monospace trasaction-title">
      New Laon Pawner Information
    </h2>
  </div>
  <div class="newloan-wrapper">
    <!-- 70% start pawner and items  -->
    <div class="pawner-items-wrapper">
      <div class="newloan-pawner">
        <app-pawner-info [pawnerInfo]="pawnerInfo"></app-pawner-info>
      </div>
      <!-- items start -->
      <div class="items-entry">
        <mat-form-field class="category">
          <mat-select
            placeholder="Category"
            formControlName="category"
            #category
            (selectionChange)="onCategorySelect($event)"
            tabindex="1"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.categoryId"
            >
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="newLoanForm.get('category').hasError('required')"
            >Category Required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="category-description">
          <button
            tabindex="-1"
            matSuffix
            mat-icon-button
            mat-raised-button
            color="accent"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-select
            placeholder="Category Description"
            formControlName="categoryDescriptions"
            #categoryDescriptionRef
            tabindex="2"
          >
            <mat-option
              *ngFor="let cd of categoryDescriptions"
              [value]="cd.categoryDescriptionId"
            >
              {{ cd.categoryDescriptionName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="newLoanForm.get('categoryDescriptions').hasError('required')"
            >Category Desccription Required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="description">
          <input
            matInput
            placeholder="Description"
            type="text"
            formControlName="descriptions"
            tabindex="3"
          />
          <mat-error
            *ngIf="newLoanForm.get('descriptions').hasError('required')"
            >Item Desccription Required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="appraisal-value">
          <input
            matInput
            [inputMask]="currencyInputMask"
            maxlength="15"
            placeholder="Appraisal Value"
            type="text"
            formControlName="appraisalValue"
            tabindex="4"
          />
          <mat-error
            *ngIf="newLoanForm.get('appraisalValue').hasError('required')"
            >Appraisal Value Required</mat-error
          >
        </mat-form-field>
        <div>
          <button
            tabindex="5"
            [disabled]="isAddItem"
            (click)="onAdd()"
            class="mx-1 btn-add"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            tabindex="6"
            type="button"
            (click)="resetAddItems()"
            mat-raised-button
            color="accent"
            class="mx-1"
          >
            Reset
          </button>
        </div>
      </div>
      <!-- items end -->

      <!-- table start -->
      <div class="items-table">
        <table
          style="border-radius: 5% !important"
          tabindex="-1"
          mat-table
          #table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let items">{{ items.categoryName }}</td>
          </ng-container>
          <ng-container matColumnDef="categoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let items">
              {{ items.categoryDescriptionName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Items Description</th>
            <td mat-cell *matCellDef="let items">{{ items.description }}</td>
          </ng-container>
          <ng-container matColumnDef="appraisalValue">
            <th mat-header-cell *matHeaderCellDef>Appraisal Value</th>
            <td mat-cell *matCellDef="let items">{{ items.appraisalValue }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let pawner">
              <button class="text-info" tabindex="-1" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button
                tabindex="-1"
                (click)="delete(pawner)"
                class="text-danger"
                mat-icon-button
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
        <mat-paginator
        tabindex="-1"
          class="newloan-paginator"
          [pageSizeOptions]="[3, 5, 10]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <!-- table end -->

      <!-- computation start -->
    </div>
    <!-- 70% end pawner and items  -->

    <!-- computation start 30% -->
    <div class="computation-wrapper">
      <!-- start computation title -->
      <h2 class="shadow font-monospace computation-title">Renew Computation</h2>
      <!-- start computation title -->
      <div class="computation shadow">
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Appraisal Value</span>
          <input
            formControlName="totalAppraisal"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
            readonly
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Principal Loan</span>
          <input
          formControlName="principalLoan"
            tabindex="7"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Interest Rate</span>
          <input
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Advance Interest</span>
          <input
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Adv. Service Charge</span>
          <input
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Net Proceed</span>
          <input
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
      </div>
      <div class="button-wrapper">
        <button
          class="btn btn-success"
          type="submit"
          tabindex="9"
          mat-raised-button
        >
          <mat-icon>save</mat-icon> Save <mat-icon>print</mat-icon> 
        </button>
        <button
          class="btn btn-danger"
          type="button"
          tabindex="10"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>restart_alt</mat-icon> Reset
        </button>
        <button
          class="btn btn-primary"
          type="button"
          tabindex="11"
          (click)="home()"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>home</mat-icon> Home
        </button>
      </div>
    </div>

    <!-- computation end 30% -->
  </div>
  <!-- computation end -->
</form>
