<form [formGroup]="newLoan" autocomplete="off">
  <h2
  class="shadow"
    style="
      position: absolute;
      border-radius: 5px;
      margin: 3px 9.5% 0;
      width: 50%;
      padding: 2px;
      background-color: aqua;
      text-align: center;
    "
  >
    New Loan
  </h2>
  <div class="newloan-wrapper">
    <div class="pawner-items">
      <div class="info-date">
        <div class="newloan-pawner">
          <app-pawner-info [pawner]="pawner"></app-pawner-info>
        </div>
        <!-- newloan dates start -->
        <div class="newloan-dates">
          <div>
            <mat-form-field class="form-date">
              <input
                readonly
                matInput
                [matDatepicker]="dateTransaction"
                placeholder="Date Transaction"
                formControlName="dateTransaction"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dateTransaction"
                disabled
              ></mat-datepicker-toggle>
              <mat-datepicker #dateTransaction></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-date">
              <input
                matInput
                [matDatepicker]="dateGranted"
                placeholder="Date Granted"
                formControlName="dateGranted"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dateGranted"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateGranted></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-date">
              <input
                matInput
                [matDatepicker]="dateMature"
                placeholder="Date Mature"
                formControlName="dateMature"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dateMature"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateMature></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-date">
              <input
                matInput
                [matDatepicker]="dateExpired"
                placeholder="Date Expire"
                formControlName="dateExpired"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dateExpired"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateExpired></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!-- newloan dates start -->
      </div>
      <!-- items start -->
      <div class="items-entry">
        <mat-form-field class="category">
          <mat-select
            placeholder="Category"
            formControlName="category"
            #category
            (blur)="onCategorySelect()"
            tabindex="1"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="newLoan.get('category').hasError('required')">Category Required</mat-error>
        </mat-form-field>
        <mat-form-field class="category-description">
          <button matSuffix mat-icon-button mat-raised-button color="accent">
            <mat-icon>add</mat-icon>
          </button>
          <mat-select
            placeholder="Category Description"
            formControlName="categoryDescriptions"
            #categoryDescriptionRef
            tabindex="2"
          >
            <mat-option
              *ngFor="let categoryDescription of categoryDescriptions"
              [value]="categoryDescription.id"
            >
              {{ categoryDescription.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="newLoan.get('categoryDescriptions').hasError('required')">Category Desccription Required</mat-error>
        </mat-form-field>
        <mat-form-field class="description">
          <input
            matInput
            placeholder="Description"
            type="text"
            formControlName="descriptions"
            tabindex="3"
          />
          <mat-error *ngIf="newLoan.get('descriptions').hasError('required')">Item Desccription Required</mat-error>
        </mat-form-field>
        <mat-form-field class="appraisal-value">
          <input
            matInput
            placeholder="Appraisal Value"
            type="number"
            formControlName="appraisalValue"
            tabindex="4"
          />
          <mat-error *ngIf="newLoan.get('appraisalValue').hasError('required')">Appraisal Value Required</mat-error>
        </mat-form-field>
        <div>
          <button
            tabindex="4"
            [disabled]="isAddItem"
            (click)="onAdd()"
            class="mx-1"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            tabindex="5"
            (click)="onClear()"
            mat-raised-button
            color="accent"
          >
            Clear
          </button>
        </div>
      </div>
      <!-- items end -->

      <!-- table start -->
      <div class="items-table">
        <table tabindex="0"
          mat-table
          #table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let items">{{ items.category }}</td>
          </ng-container>
          <ng-container matColumnDef="categoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let items">
              {{ items.categoryDescription }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Items Description</th>
            <td mat-cell *matCellDef="let items">{{ items.description }}</td>
          </ng-container>
          <ng-container matColumnDef="appraisalValue">
            <th mat-header-cell *matHeaderCellDef>Appraisal Value</th>
            <td mat-cell *matCellDef="let items">{{ items.appraisalValue }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let pawner">
              <button class="text-info" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button  (click)="delete(pawner)" class="text-danger" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
        <mat-paginator class="shadow" [pageSizeOptions]="[3]" showFirstLastButtons ></mat-paginator>      
      </div>
      <!-- table end -->
    </div>
    <h2
    class="shadow font-monospace text-white "
      style="
        position: absolute;
        border-radius: 5px;
        margin: 8px 72% 0;
        width: 26%;
        padding: 4px;
        background-color: rgb(31, 97, 241);
        text-align: center;
      "
    >
      New Loan Computation
    </h2>
    <div class="computation">
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Appraisal Value</span>
        <input class="form-control" type="number" />
      </div>
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Total Loan</span>
        <input class="form-control" type="number" />
      </div>
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Interest</span>
        <input class="form-control" type="number" />
      </div>
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Advance Interest</span>
        <input class="form-control" type="number" />
      </div>
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Advance Interest</span>
        <input class="form-control" type="number" />
      </div>
      <div class="input-group mb-2 shadow-sm font-monospace">
        <span class="btn-primary">Advance Interest</span>
        <input class="form-control" type="number" />
      </div>
    </div>
  </div>
</form>
