<form [formGroup]="redeemForm" (ngSubmit)="save()" autocomplete="off">
  <!-- start pawner info title and transaction number -->
  <div class="shadow-sm text-white pawner-title">
    <h2 class="font-monospace transaction-number">
      Transaction #: {{ transactionInfo.transactionsId }}
    </h2>
    <h2 class="text-center font-monospace trasaction-title">
      Redeem Information
    </h2>
  </div>
  <!-- end pawner info title and transaction number -->
  <!-- start body wrapper for 70% pawner and 30% computation -->
  <div class="transaction-body">
    <!--70% start pawner-items-wrapper -->
    <div class="pawner-items-wrapper">
      <!--start pawner information -->
      <div class="pawner-information">
        <app-transactions-pawner-info
          [transactionInfo]="transactionInfo"
        ></app-transactions-pawner-info>
      </div>
      <!--end pawner information -->
      <!-- start dates status  -->
      <div class="status-dates-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Transaction</mat-label>
          <input
            tabindex="-1"
            matInput
            [matDatepicker]="dateTransaction"
            placeholder="Date Transaction"
            formControlName="dateTransaction"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateTransaction"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateTransaction></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Granted</mat-label>
          <input
            tabindex="-1"
            matInput
            [matDatepicker]="dateGranted"
            placeholder="Date Granted"
            formControlName="dateGranted"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateGranted"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateGranted></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Matured</mat-label>
          <input
            readonly
            tabindex="-1"
            matInput
            [matDatepicker]="dateMatured"
            placeholder="Date Mature"
            formControlName="dateMatured"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateExpired"
            disabled
          ></mat-datepicker-toggle>
          <mat-datepicker #dateMatured></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Expired</mat-label>
          <input
            readonly
            tabindex="-1"
            matInput
            [matDatepicker]="dateExpired"
            placeholder="Date Expire"
            formControlName="dateExpired"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateExpired"
            disabled
          ></mat-datepicker-toggle>
          <mat-datepicker #dateExpired></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="status" appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput placeholder="Status" formControlName="status" />
        </mat-form-field>

        <mat-form-field class="moments" appearance="outline">
          <mat-label>Dates Status</mat-label>
          <input matInput placeholder="Moment" formControlName="moments" />
        </mat-form-field>
      </div>

      <!-- end dates status -->
      <!-- start mat-table here -->
      <div class="items-table">
        <table
          tabindex="-1"
          mat-table
          #table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let items">{{ items.category }}</td>
          </ng-container>
          <ng-container matColumnDef="categoryDescription">
            <th mat-header-cell *matHeaderCellDef>Category Description</th>
            <td mat-cell *matCellDef="let items">
              {{ items.categoryDescription }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Items Description</th>
            <td mat-cell *matCellDef="let items">{{ items.description }}</td>
          </ng-container>
          <ng-container matColumnDef="appraisalValue">
            <th mat-header-cell *matHeaderCellDef>Appraisal Value</th>
            <td mat-cell *matCellDef="let items">
              {{ items.appraisalValue | currency: "₱ " }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
        <mat-paginator
          #paginator
          [pageSizeOptions]="[3, 5, 10]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
      <!-- end mat-table here -->
    </div>
    <!--70% start pawner-items-wrapper -->

    <!-- computation start 30% -->
    <div class="computation-wrapper">
      <!-- start computation title -->
      <h2 class="shadow font-monospace computation-title">
        Redeem Computation
      </h2>
      <!-- start computation title -->
      <div class="computation shadow">
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Appraisal Value</span>
          <input
            formControlName="totalAppraisal"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
            readonly
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Principal Loan</span>
          <input
            formControlName="principalLoan"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
            readonly
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Interest Rate</span>
          <input
            formControlName="interestRate"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm text-right"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Interest</span>
          <input
            formControlName="interest"
            tabindex="-1"
            maxlength="14"
            [inputMask]="currencyInputMask"
            class="form-control form-control-sm text-right"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Penalty</span>
          <input
            formControlName="penalty"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Due Amount</span>
          <input
            formControlName="dueAmount"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>

        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Service Charge</span>
          <input
            formControlName="serviceCharge"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Discount</span>
          <input
            #discountRef
            (keyup)="receivedAmountFocus($event)"
            formControlName="discount"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Redeem Amount</span>
          <input
            formControlName="redeemAmount"
            tabindex="-1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Received Amount</span>
          <input
            (keyup)="discountFocus($event)"
            #receivedAmountRef
            tabindex="1"
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <div class="input-group shadow-sm">
          <span class="col-form-label-sm">Change</span>
          <input
            formControlName="change"
            readonly
            maxlength="14"
            class="form-control form-control-sm"
            [inputMask]="currencyInputMask"
            type="text"
          />
        </div>
        <!-- <div class="container bg-light"><h1>{{pawner.firstName}}</h1></div> -->
      </div>
      <div class="button-wrapper" fxLayout="row" fxLayoutGap="1%">
        <button
          fxFlex="33"
          class="btn btn-success"
          type="submit"
          tabindex="2"
          mat-raised-button
        >
          <mat-icon>save</mat-icon> Save
        </button>
        <button
          (click)="reset()"
          fxFlex="33"
          class="btn btn-danger"
          type="button"
          tabindex="3"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>restart_alt</mat-icon> Reset
        </button>
        <button
          fxFlex="33"
          class="btn btn-primary"
          type="button"
          tabindex="4"
          (click)="home()"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>home</mat-icon> Home
        </button>
      </div>
    </div>
    <!-- computation end 30% -->
  </div>
  <!-- start body wrapper for 70% pawner and 30% computation -->
</form>
