<div class="main-wrapper">

    <div class="body-wrapper" fxLayout="row wrap">
      <div class="header" fxFlex="100">
        <h3 class="title shadow-sm rounded bg-info">View Transaction List</h3>
      </div>
      <div class="search-wrapper">
        <button mat-fab (click)="home()" class=" mt-1" color="primary">
            <mat-icon class="mat-18">dashboard</mat-icon>
        </button>
        <mat-form-field>
          <mat-label>Search Date</mat-label>
          <input
            tabindex="-1"
            matInput
            formControlName="dateEntry"
            [matDatepicker]="dateEntry"
            placeholder="Date Entry"
          />
          <button matSuffix mat-icon-button color="accent" style="font-size: large; font-weight: bold;" >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>  <mat-datepicker-toggle
        tabindex="-1"
        matSuffix
        [for]="dateEntry"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateEntry></mat-datepicker>
      </div>
      <!-- table start -->
      <div class="table-wrapper">
        <table tabindex="-1" mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef>Transaction #</th>
            <td mat-cell *matCellDef="let view">
              {{ view.transactionId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef>Transaction</th>
            <td mat-cell *matCellDef="let view">
              {{ view.transactionType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="loanStatus">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let view">
              {{ view.loanStatus }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dateTransaction">
            <th mat-header-cell *matHeaderCellDef>Date Transaction</th>
            <td mat-cell *matCellDef="let view">
              {{ view.dateTransaction| date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let view">
              {{ view.firstName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let view">
              {{ view.lastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef class="text-center">
              View
            </th>
            <td mat-cell *matCellDef="let view">
              <button tabindex="-1" class="text-danger" mat-icon-button >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="viewTransaction(row)"></tr>
        </table>
        <mat-paginator
          tabindex="-1"
          class="paginator"
          [pageSizeOptions]="[5]"
        ></mat-paginator>
      </div>
      <!-- table end -->

    </div>
</div>
