<div class="main-wrapper">

    <div class="body-wrapper" fxLayout="row wrap">
      <div class="header" fxFlex="100">
        <h3 class="title shadow-sm rounded bg-info">View Transaction List</h3>
      </div>

      <!-- table start -->
      <div class="table-wrapper">
        <table tabindex="-1" mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Transaction #</th>
            <td mat-cell *matCellDef="let view">
              {{ view.transactionId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Transaction</th>
            <td mat-cell *matCellDef="let view">
              {{ view.transctionType }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let view">
              {{ view.status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date Transaction</th>
            <td mat-cell *matCellDef="let view">
              {{ view.dateTransaction| date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let view">
              {{ view.firstname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let view">
              {{ view.lastname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              View
            </th>
            <td mat-cell *matCellDef="let view">
              <button tabindex="-1" class="text-danger" mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
        <mat-paginator
          tabindex="-1"
          class="paginator"
          [pageSizeOptions]="[5]"
        ></mat-paginator>
      </div>
      <!-- table end -->
      <div>
        <div class="btn btn-primary" (click)="home()">Home</div>
      </div>
    </div>
</div>
