<div class="pawner-component" fxLayout="row wrap" fxLayoutGap="1.5%">
  <mat-form-field  appearance="outline" fxFlex="25">
    <mat-label>Contact Number</mat-label>
    <input
      readonly
      tabindex="-1"
      matInput
      placeholder="Contact Number"
      value="{{ pawnerInfo.contactNumber }}"
    />
  </mat-form-field>
  <mat-form-field  appearance="outline" fxFlex="35">
    <mat-label>First Name</mat-label>
    <input
      tabindex="-1"
      readonly
      matInput
      placeholder="First Name"
      value="{{ pawnerInfo.firstName }}"
    />
  </mat-form-field>
  <mat-form-field  appearance="outline" fxFlex="35">
    <mat-label>Last Name</mat-label>
    <input
      readonly
      tabindex="-1"
      matInput
      placeholder="Last Name"
      value="{{ pawnerInfo.lastName }}"
    />
  </mat-form-field>
  <mat-form-field  appearance="outline" fxFlex="25">
    <mat-label>City</mat-label>
    <input
      readonly
      tabindex="-1"
      matInput
      placeholder="City"
      value="{{ pawnerInfo.city }}"
    />
  </mat-form-field>
  <mat-form-field  appearance="outline" fxFlex="25">
    <mat-label>Barangay</mat-label>
    <input
      readonly
      tabindex="-1"
      matInput
      placeholder="Barangay"
      value="{{ pawnerInfo.barangay }}"
    />
  </mat-form-field>
  <mat-form-field  appearance="outline" fxFlex="45">
    <mat-label>Complete Address</mat-label>
    <input
      readonly
      tabindex="-1"
      matInput
      placeholder="Complete Address"
      value="{{ pawnerInfo.completeAddress }}"
    />
  </mat-form-field>
 
</div>
