<div class="pawner-info">
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="First Name"
        value="{{ pawner.firstName }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Last Name"
        value="{{ pawner.lastName }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      
      <input
        disabled
        matInput
        placeholder="Contact Number"
        value="{{ pawner.contactNumber }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="City"
        value="{{ pawner.city }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Barangay"
        value="{{ pawner.barangay }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Complete Address"
        value="{{ pawner.completeAddress }}"
      />
    </mat-form-field>
  </div>
</div>
