<div class="pawner-info">
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="First Name"
        value="{{ pawnerInfo.firstName }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Last Name"
        value="{{ pawnerInfo.lastName }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Contact Number"
        value="{{ pawnerInfo.contactNumber }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="City"
        value="{{ pawnerInfo.city }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Barangay"
        value="{{ pawnerInfo.barangay }}"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        disabled
        matInput
        placeholder="Complete Address"
        value="{{ pawnerInfo.completeAddress }}"
      />
    </mat-form-field>
  </div>
</div>
