<div class="invoice-wrapper shadow">
  <div class="title">
    <h1>INVOICE TEST ONLY</h1>
  </div>
  <div class="header">
    <div class="header">
      <h1>Transaction #: {{ print.transactionsId }}</h1>
      <p>Date: {{ print.dateTransaction | date }}</p>
      <!-- <p>Transaction #: {{ print.transactionsId }}</p> -->
      <p>Transaction Type: {{ print.transactionType }}</p>
    </div>
  </div>
  <div class="content">
    <table class="table">
      <thead style="height: 1rem">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">Category Description</th>
          <th scope="col">Item Description</th>
          <th scope="col">Appraisal Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of print.transactionItems; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ item.category }}
          </td>
          <td>{{ item.categoryDescription }}</td>
          <td>{{ item.itemDescription }}</td>
          <td>{{ item.appraisalValue }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer"></div>

  <!-- <h1>{{print.transactionsId}}</h1>
    <h1>{{print.transactionPawner.firstName}} {{print.transactionPawner.lastName}}</h1> -->
</div>
