footer {
  height: 5vh;
  margin-top: 89vh;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-menu {
  margin-left: 2rem;
  width: 20rem;
  height: 100%;
  ul {
    height: inherit;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    li {
      a {
        font-size: .9rem;
        padding: 0.5em;
        border-radius: 2px;
      }
      :hover {
        background-color:white;
        cursor: pointer;
        color: black !important;
      }
    }
  }
}

// height for all content
