$bg-linear-gradient: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
$bg-gradient-circle: radial-gradient(
  circle,
  rgba(0, 9, 36, 1) 0%,
  rgba(9, 36, 121, 1) 0%,
  rgba(0, 212, 255, 1) 100%
);

$blue: #2196f3;
$indigo: #3f51b5;
$purple: #9c27b0;
$pink: #e91e63;
$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4caf50;
$teal: #009688;
$cyan: #00bcd4;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #2196f3;
$secondary: #6c757d;
$success: #4caf50;
$info: #00bcd4;
$warning: #ffeb3b;
$danger: #f44336;
$light: #f8f9fa;
$dark: #343a40;

$box-shadow-black-all-sm: 0 0 6px rgba(0, 0, 0, 0.6);

$box-shadow-black-all-lg: 0 0 10px rgba(0, 0, 0, 0.6);

.input-outline-custom {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: blueviolet !important;
    background-color: white;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  .remove-number-spinner {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
