//start scss of component pawner information used only for new loan
.pawner-component {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: blueviolet !important;
    background-color: white;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
  mat-form-field {
    padding-bottom: 3rem !important;
    height: 1rem;
  }
}
// css for the shared transaction pawner info redeem/partial/additional/renew
.transaction-pawner-component {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: blueviolet !important;
    background-color: white;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
  mat-form-field {
    padding-bottom: 3rem !important;
    height: 1rem;
  }
}
