//start dailog-newpawner.component new pawner dialog scss
.newpawner-wrapper {
  display: grid;
  grid-template-columns: 14% 14% 12% 15% 18% 20%;
  align-items: center;
  gap: 0.6rem;
  mat-form-field {
    width: 100%;
  }
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;

  button {
    width: 15%;
    margin: 1rem;
  }
}
//end dailog-newpawner.component new pawner dialog scss
//start dialog-newcity.component scxx

.newcity-header {
  // width: 23%;
  // position: absolute;
  // margin: -7rem 0 0;
  .city-title {
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-weight: 50;
    font-size: large;
    font-family: monospace;
  }
}
.newcity-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .city-input {
    width: 11rem;
  }
}
.ciyt-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  .btn-city {
    width: 30%;
    margin: 0.5rem;
  }
}
//end dialog-newcity.component scxx
