.newloan-title {
  position: absolute;
  display: flex;
  align-items: center;
  place-items: center;
  border-radius: 5px;
  margin: 5px 6% 0;
  width: 58%;
  height: 2.5rem;
  padding-top: 1rem;
  background: rgb(0, 9, 36);
  background: radial-gradient(
    circle,
    rgba(0, 9, 36, 1) 0%,
    rgba(9, 36, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  .trasaction-title {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
}

.newloan-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 89vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

  .pawner-items-wrapper {
    background-color: whitesmoke;
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    .newloan-pawner-dates {
      display: grid;
      grid-template-columns: 70% 30%;
      background-color: rgb(224, 250, 253);
      border-radius: 0.5em;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      margin: 1.5rem 1rem 0rem;
      padding: 1.8rem 1rem 0rem;
      height: 8rem;
      color: black;
      .pawner-wrapper {
      }
      .dates-wrapper {
        height: 6rem;
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
          color: blueviolet !important;
          background-color: white;
        }
        ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
          padding: 0.4em 0px !important;
        }
        ::ng-deep .mat-form-field-label-wrapper {
          top: -1.5em;
        }
        ::ng-deep
          .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
          .mat-form-field-label {
          transform: translateY(-1.1em) scale(0.75);
          width: 133.33333%;
        }
        mat-form-field {
          padding-bottom: 0rem !important;
          height: 1rem;
        }
      }
    }
  }

    .items-entry {
      background-color: rgb(224, 250, 253);
      margin: 0.5rem 1rem;
      border-radius: 0.5em;
      padding: 1rem 1rem 0 1rem;
      height: 4rem;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);

      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: blueviolet !important;
        background-color: white;
      }
      ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0px !important;
      }
      ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
      }
      ::ng-deep
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label {
        transform: translateY(-1.1em) scale(0.75);
        width: 133.33333%;
      }
      .add-cat-desc{
        transform: scale(.5);
        margin-right: -.7rem;
      }
      .btn-items{
        margin-right: -.8rem;
      }
      .btn-add {
        transform: scale(0.8);
      }
    }
    .items-table {
      background-color: rgb(224, 250, 253);
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      border-radius: 0.5em;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      table {
        width: 100%;
        margin: 0.5rem auto 0;
        mat-icon {
          font-size: 20px;
        }
        .mat-column-category {
          width: 12% !important;
        }
        .mat-column-categoryDescription {
          width: 25% !important;
        }
        .mat-column-description {
          width: 30% !important;
        }
        .mat-column-appraisalValue {
          width: 15% !important;
        }
        .mat-column-action {
          width: 12% !important;
        }
        .mat-header-row {
          height: 2.5rem !important;
        }
        .mat-row {
          height: 2rem !important;
        }
      }
      .newloan-paginator {
        margin-top: -0.3rem;
        transform: scaleY(0.8);
      }
    }

  .computation-wrapper {
    background-color: whitesmoke;
    max-width: 100%;
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    .computation-title {
      border-radius: 5px;
      margin: 0.5rem auto 0;
      width: 95%;
      padding: 4px;
      color: white;
      text-align: center;
      background: rgb(0, 9, 36);
      background: radial-gradient(
        circle,
        rgba(0, 9, 36, 1) 0%,
        rgba(9, 36, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
    }
    // computation 30% area
    .computation {
      width: 95%;
      border-radius: 8px;
      margin: 0.5rem auto 0.5rem;
      padding: 0.7rem 0.7rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      background-color: rgb(224, 250, 253);

      .input-group {
        border-left: 0.3rem solid rgb(83, 235, 37);
        width: 100%;
        margin-bottom: 0.3rem;
        font-size: large;
        font-family: monospace;
        font-weight: 550;
        .col-form-label-sm {
          padding-left: 0.5rem;
          color: white;
          background-color: #0d6efd;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          width: 55%;
        }
        .form-control {
          width: 45%;
          border-radius: 10px;
          border: 1.5px solid blue;
          background-color: white;
          border-right: 3px solid blue;
        }
      }
    }
    .button-wrapper {
      padding: 0 0.8rem;
      height: inherit;
      .btn {
        transform: scaleY(0.8);
        margin: 0;
        border-radius: 5rem;
      }
    }
  }
}



.form-control {
  border-top-right-radius: 10px !important;
}

.net-proceed {
  font-weight: bolder !important;
  color: red !important;
}

//  ::ng-deep .mat-form-field-wrapper{
//      margin-bottom: -1.25em !important;
//  }
