.newloan-title {
  position: absolute;
  display: flex;
  align-items: center;
  place-items: center;
  border-radius: 5px;
  margin: 8px 6% 0;
  width: 58%;
  height: 2.5rem;
  padding-top: 1rem;
  background-color: rgb(55, 74, 114);
  .transaction-number {
    width: 30%;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: turquoise;
  }
  .trasaction-title {
    width: 50%;
    font-size: 1.3rem;
  }
}

.newloan-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 89vh;

  .pawner-items-wrapper {
    margin: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    .newloan-pawner {
      background-color: ghostwhite;
      border-radius: 0.5em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      margin: 1.5rem 1rem 0rem;
      padding: 0.9rem 1rem 0rem;
      height: 9rem;
    }

    .items-entry {
      margin: 0.5rem 1rem;
      border-radius: 0.5em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 5rem;

      .category {
        width: 7rem;
      }
      .category-description {
        width: 14rem;
      }
      .description {
        width: 16rem;
      }
      .appraisal-value {
        width: 7rem;
      }
      .btn-add {
        transform: scale(0.8);
      }
    }
    .items-table {
      padding: 0 1rem;
      table {
        width: 100%;
        margin: 0.5rem auto 0;

        mat-icon {
          font-size: 20px;
        }
      }
      .mat-column-category {
        width: 12% !important;
      }
      .mat-column-categoryDescription {
        width: 25% !important;
      }
      .mat-column-description {
        width: 30% !important;
      }
      .mat-column-appraisalValue {
        width: 15% !important;
      }
      .mat-column-action {
        width: 12% !important;
      }

      .mat-header-row {
        height: 2.5rem !important;
      }
      .mat-row {
        height: 2rem !important;
      }

      .newloan-paginator{
        margin-top: -.3rem;
        transform: scaleY(.8);
      }
    }
  }
  .computation-wrapper {
    max-width: 100%;
    margin: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    
    .computation-title {
      border-radius: 5px;
      margin: 0.5rem auto 0;
      width: 90%;
      padding: 4px;
      color: white;
      background-color: #0d6efd;
      text-align: center;
    }
    // computation 30% area
    .computation {
      width: 80%;
      border-radius: 10px;
      margin: 0.5rem auto 0;
    

      .input-group {
        width: 100%;
        margin-bottom: 0.3rem;
        font-size: large;
        font-family: monospace;
        font-weight: 550;
        .col-form-label-sm {
          padding-left: 0.5rem;
          color: white;
          background-color: #0d6efd;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          width: 55%;
        }
        .form-control {
          width: 45%;
          border-radius: 10px;
          border: 1.5px solid blue;
          background-color: white;
        }
      }
    }
    .button-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      .btn{
        border-radius: 5rem;
        margin: 0 auto .3rem;
        width: 80%;
      }
    
    }
   
  }
}


//remove input number arrow up/down
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  border-top-right-radius: 10px !important;
}

.net-proceed {
  font-weight: bolder !important;
  color: red !important;
}
