
.btn-primary{
    background: rgb(72, 127, 247) !important;
    width: 11rem;
    padding: 8px;
    font-weight: 800;
    font-size: .9rem;
    border-bottom-left-radius: 10px;
}

.form-control{
    border-top-right-radius: 10px !important;
    
}