.bg-content {
  .login-card {
    margin: 10% 0 0 70%;
    width: 25%;
    padding: 1rem;
    .login-header {
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;

      .login-icon {
        padding-top: 1rem;
        height: 7rem;
        width: 7rem;
        .mat-icon-img {
          font-size: 6rem;
        }
      }
    }
    .login-content {
      padding: 1rem 2.5rem 0;
      margin: 0;
      .login-input {
        width: 100%;
      }
    }
    .login-footer {
      margin: 1rem 2.5rem;

      .login-btn {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
