// this scss is share to same with additional partial and reedem

//start pawner information title and transaction number
.pawner-title {
  position: absolute;
  display: flex;
  align-items: center;
  place-items: center;
  border-radius: 5px;
  margin: 3px 9.5% 0;
  width: 50%;
  height: 3rem;
  padding-top: 1rem;
  background-color: rgb(55, 74, 114);
  .transaction-number {
    width: 25%;
    padding-left: 1rem;
    color: turquoise;
  }
  .trasaction-title {
    width: 50%;
    font-size: 1.6rem;
  }
}
//start pawner information and layout of the transaction
//pawner information tabel and computation

.transaction-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 89vh;
  //   overflow: hidden;

  // pawner wrapper 70% area
  .pawner-items-wrapper {
    .pawner-info {
      // background-color: ghostwhite;
      // width: 100%;
      // margin: 1.5rem 1rem 0rem;
      // border-radius: 0.5em;
      // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      // padding: 0.5rem 1rem;
      // height: 9rem;
    }

    .items-table {
      padding: 0 1rem;
      table {
        width: 100%;
        margin: 0.5rem auto 0;
  
        mat-icon {
          font-size: 20px;
        }
      }
      .mat-column-category {
        width: 12% !important;
      }
      .mat-column-categoryDescription {
        width: 25% !important;
      }
      .mat-column-description {
        width: 30% !important;
      }
      .mat-column-appraisalValue {
        width: 15% !important;
      }
      .mat-column-action {
        width: 12% !important;
      }
  
      // .mat-header-row  .mat-row {
      //   height: 1rem !important;
      // }
      .mat-row {
        height: 25px !important;
      }
    }
  

  }

  // computation 30% area
  .computation {
    padding: 4rem 2.5rem 0;
    background-color: rgb(209, 230, 240);
  }
}
//remove input number arrow up/down
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
