// this scss is share to same with additional partial and reedem
//start pawner information title and transaction number
@import "./main.scss";

.pawner-title {
  position: absolute;
  display: flex;
  align-items: center;
  place-items: center;
  border-radius: 5px;
  margin: 5px 6% 0;
  width: 58%;
  height: 2.5rem;
  padding-top: 1rem;
  background: rgb(0, 9, 36);
  background: radial-gradient(
    circle,
    rgba(0, 9, 36, 1) 0%,
    rgba(9, 36, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  .transaction-number {
    width: 30%;
    border-radius: 1rem;
    padding-left: 0.8rem;
    font-size: 1.1rem;
    color: black;
    font-weight: 520;
    background-color: whitesmoke;
    transform: scale(0.9);
  }
  .trasaction-title {
    width: 50%;
    font-size: 1.3rem;
  }
}
//start pawner information and layout of the transaction
//pawner information tabel and computation

.transaction-body {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 89vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

  // pawner wrapper 70% area
  .pawner-items-wrapper {
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;

    .pawner-information {
      height: 8rem;
      padding: 2rem 0.7rem 0 1rem;
      margin: 1.3rem 1rem 0.6rem;
      border-radius: 0.5em;
      background-color: rgb(224, 250, 253);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }
    .status-dates-wrapper {
      border-radius: 0.5rem;
      background-color: rgb(224, 250, 253);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 1.3rem;
      padding-left: 2rem;
      padding-right: 1.2rem;
      margin: 0 1rem;
      height: 4rem;

      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: blueviolet !important;
        background-color: white;
      }
      ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0px !important;
      }
      ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
      }
      ::ng-deep
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label {
        transform: translateY(-1.1em) scale(0.75);
        width: 133.33333%;
      }

      mat-form-field {
        width: 15%;
        margin-right: 0.8rem;

      }
      .status {
        text-align: center;
        width: 13%;
        margin-right: 0.8rem;
      }
      .moments {
        text-align: center;
        width: 26%;
      }
    }

    .view-status-wrapper {
      border-radius: 0.5rem;
      background-color: rgb(224, 250, 253);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 1.3rem;
      padding-left: 1.5rem;
      padding-right: 0.8rem;
      margin: 0 1rem;
      height: 4rem;
      input {
        text-align: center;
      }
      .view-transaction-number{
        color: red;
        font-weight: bold;
      }
    }
    .view-buttons {
      margin-top: -1.2rem;
      .center-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(.9);
      }
    }
    .items-table {
      margin: 0.5rem 1rem 0.6rem;
      border-radius: 0.5rem;
      background-color: rgb(224, 250, 253);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
      padding: 0.2rem 0.5rem 0.5rem 0.5rem;
      mat-paginator {
        transform: scaleY(0.8);
        margin-top: -0.3rem;
      }
      table {
        border-radius: 0.5rem;
        width: 100% !important;
        margin: 0.5rem auto 0;
      }
      .mat-column-index {
        width: 7% !important;
      }
      .mat-column-category {
        width: 15% !important;
      }
      .mat-column-categoryDescription {
        width: 28% !important;
      }
      .mat-column-description {
        width: 35% !important;
      }
      .mat-column-appraisalValue {
        width: 15% !important;
      }
      .mat-header-row {
        height: 2.5rem !important;
      }
      .mat-row {
        height: 2rem !important;
      }
    }
  }

  .computation-wrapper {
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: relative;
    background-color: whitesmoke;
    .computation-title {
      border-radius: 5px;
      margin: 0.5rem auto 0;
      width: 95%;
      padding: 4px;
      color: white;
      text-align: center;
      background: rgb(0, 9, 36);
      background: radial-gradient(
        circle,
        rgba(0, 9, 36, 1) 0%,
        rgba(9, 36, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
    }
    // computation 30% area
    .computation {
      width: 95%;
      border-radius: 8px;
      margin: 0.5rem auto 0.5rem;
      padding: 0.7rem 0.7rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      background-color: rgb(224, 250, 253);

      // background-color: violet;
      .input-group {
        border-left: 0.3rem solid rgb(83, 235, 37);
        width: 100%;
        margin-bottom: 0.3rem;
        font-size: large;
        font-family: monospace;
        font-weight: 550;

        input:focus {
          color: red;
          font-weight: bold;
          background-color: $warning !important;
        }
        .col-form-label-sm {
          padding-left: 0.5rem;
          color: white;
          background-color: #0d6efd;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          width: 55%;
        }
        .form-control {
          width: 45%;
          border-radius: 10px;
          border: 1.5px solid blue;
          background-color: white;
          border-right: 3px solid blue;


        }
        .text-right {
          text-align: right;
        }
        .amout-due {
          background-color: #ff99cc;
        }
        .bold-red{
          color: red;
          font-weight: 800;
        }
      }
    }

    .button-wrapper {
      padding: 0 0.8rem;
      height: inherit;
      .btn {
        transform: scaleY(0.8);
        margin: 0;
        border-radius: 5rem;
      }
    }
  }
}

//remove input number arrow up/down
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
