//configuration of all content ex. for the transaction content configure in
//transaction.component.html this content-config applies
.content-config {
  height: 89vh;
  position: absolute;
  width: 100vw;
  background-color: whitesmoke;
}

//remove input number arrow up/down
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//mat snackbar global css
.mat-snack-bar-container {
  padding: 0 !important;
  height: auto !important;
}
.error.mat-snack-bar-container {
  border: 3px solid #f93154;
  border-left: 6px solid fuchsia;
  background-color: #f93154;
  color: white;
  opacity: 0.9 !important;
}
.success.mat-snack-bar-container {
  border: 3px solid #00b74a;
  border-left: 6px solid fuchsia;
  background-color: #00b74a;
  color: white;
  opacity: 0.9 !important;
}
.info.mat-snack-bar-container {
  border: 3px solid #39c0ed;
  border-left: 6px solid fuchsia;
  background-color: #39c0ed;
  color: white;
  opacity: 0.9 !important;
}
