//configuration of all content ex. for the transaction content configure in 
//transaction.component.html this content-config applies
.content-config{
    height: 89vh;
    position: absolute;
    width: 100vw;
    background-color:whitesmoke;
  }
  
//remove input number arrow up/down
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


//global class of notifier
  .error.mat-snack-bar-container{
    background-color: #eb4c5c;
    color: white;
  }
  .success.mat-snack-bar-container{
    background-color: #00cc00;
    color: white;
  }


