//configuration of all content
.content-config{
    height: 89vh;
    position: absolute;
    width: 100vw;
    background-color:azure;
  }

//global class of notifier
  .error.mat-snack-bar-container{
    background-color: #eb4c5c;
    color: white;
  }
  .success.mat-snack-bar-container{
    background-color: #00cc00;
    color: white;
  }


