.newloan-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 89vh;
  //   overflow: hidden;

  .pawner-items {
    // background-color: springgreen;
  
    .info-date {
      background-color: ghostwhite;
      margin: 2.5rem 1rem 0rem;
      border-radius: .5em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      padding: 1rem;
      height: 10rem;

      .newloan-pawner {
        width: 100%;
        // background-color: yellowgreen;
      }
      .newloan-dates {
        padding: 1rem;
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 1em;

        .form-date {
          width: 8rem;
        }
      }
      .newloan-items {
        width: 100%;
      }
    }
    .items-entry {
      margin: .5rem 1rem;
      border-radius: .5em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 5rem;

      .category{
        width: 6rem;
      }
      .category-description{
        width: 15rem;
      }
      .description{
        width: 18rem;
      }
      .appraisal-value{
        width: 7rem;
      }
    }
    .items-table {
      table{
          width: 90%;
          margin: 1rem auto;
      }
    }
  }
  .computation {
    background-color: skyblue;
  }
}
