//start dialog-newcity.component scxx
@import "../_sass/main";

.main-wrapper {
  padding: 0.5rem;
  box-shadow: $box-shadow-black-all-lg;
  background: $bg-linear-gradient;
  width: 75%;
  margin: 0 auto;
  margin-top: 1.5rem;
  transform: scale(0.95);
  .body-wrapper {
    padding: 1rem;
    background-color: whitesmoke;
    .header {
      position: absolute;
      width: 95.5%;
      margin-top: -2.5rem;
      .title {
        background: $bg-gradient-circle;
        color: white;
        padding: 0.4rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        font-family: monospace;
      }
    }
    .search-wrapper {
      margin-top: 1rem;
      button{
        zoom: .9;
        margin-right: 2rem;
      }
    }
    .table-wrapper {
      margin-top: 1rem;
      border-radius: 0.3rem;
      width: 100%;
      transform: scaleY(0.95);
      box-shadow: $box-shadow-black-all-sm;
      table {
        width: 100% !important;
        border-radius: 0.3rem;
        .mat-header-row {
          box-shadow: $box-shadow-black-all-sm;
          background: $info;
          height: 3rem;
        }
        .mat-header-cell {
          color: white;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .mat-column-index {
          width: 7%;
        }
        .mat-column-transactionId {
          width: 12%;
        }
        .mat-column-transactionType {
          width: 12%;
        }
        .mat-column-loanStatus {
          width: 10%;
        }
        .mat-column-dateTransaction {
          width: 15%;
        }
        .mat-column-firstName {
          width: 20%;
        }
        .mat-column-lastName {
          width: 20%;
        }
        .mat-column-action {
          width: 5%;
        }
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: blueviolet !important;
  background-color: white;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
//end dialog-newcity.component scxx
