<div class="city-wrapper">
  <form [formGroup]="cityForm" autocomplete="off">
    <div class="city-body" fxLayout="row wrap">
      <div class="newcity-header" fxFlex="100">
        <h3 class="city-title shadow rounded bg-info">City Settings</h3>
      </div>
      <div class="newcity-wrapper" fxFlex="99"  fxLayoutGap="1.5%">
      <mat-form-field class="input-outline-custom city-input" fxFlexOffset="15%"  fxFlex="60">
          <mat-label>City Name</mat-label>
          <input
            class="font-monospace"
            #cityRef
            tabindex="1"
            type="text"
            matInput
            formControlName="cityName"
          />
        </mat-form-field>
        <button
          fxFlex="10"
          (click)="add()"
          tabindex="2"
          matSuffix
          mat-icon-button
          mat-raised-button
          color="accent"
          class="btn-add btn btn-success"
          [disabled]="isAdd"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="city-button-wrapper" fxFlex="58" fxLayoutGap="2%">
        <button
          fxFlex="50"
          (click)="reset()"
          tabindex="3"
          mat-raised-button
          class="btn btn-primary font-monospace"
        >
          <mat-icon>restart_alt</mat-icon>
          Reset
        </button>
        <button
          fxFlex="50"
          (click)="cancel()"
          tabindex="4"
          mat-raised-button
          class="btn btn-danger font-monospace"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </div>

      <div class="city-table-wrapper" fxFlex="100">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>City Id</mat-header-cell>
            <mat-cell *matCellDef="let city">{{ city.cityId }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>
            <mat-cell *matCellDef="let city">{{ city.cityName }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let city">
              <button class="text-info" tabindex="-1" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button tabindex="-1" class="text-danger" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          class="city-paginator"
          [length]="tableLength"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15]"
        ></mat-paginator>
      </div>
    </div>
  </form>
</div>
