<form [formGroup]="pawnerForm" autocomplete="off">
  <div class="pawner-container">
    <div class="pawner-body" fxLayout="row wrap">
      <div class="pawner-header header-settings" fxFlex="100">
        <h3 class="text-center p-2 shadow rounded title">
          Create New Pawner Information
        </h3>
      </div>
      <mat-divider
        class="pb-3"
        style="width: 90%; margin: 0 auto"
        fxFlex="100"
      ></mat-divider>
      <div class="pawner-content" fxFlex="100" fxLayout="row wrap">
        <div class="row1 mb-2" fxLayout="row wrap" fxFlex="100" fxLayoutGap="2%">
          <mat-form-field fxFlex="32">
            <mat-label>First Name</mat-label>
            <input
              #firstNameRef
              tabindex="1"
              type="text"
              matInput
              formControlName="firstName"
            />
          </mat-form-field>
          <mat-form-field fxFlex="32" >
            <mat-label>Last Name</mat-label>
            <input tabindex="2" type="text" matInput formControlName="lastName" />
          </mat-form-field>
          <mat-form-field fxFlex="32">
            <mat-label>Contact Number</mat-label>
            <input
              tabindex="3"
              type="text"
              matInput
              mask="(000) 000 00 00"
              formControlName="contactNumber"
            />
          </mat-form-field>
            
        </div>
        <div class="row2 mb-2" fxLayout="row wrap" fxFlex="100" fxLayoutGap="2%">
          <mat-form-field fxFlex="25">
            <mat-select
              (blur)="onSelectCity()"
              tabindex="4"
              placeholder="City"
              name="city"
              formControlName="city"
            >
              <mat-option *ngFor="let city of cities" [value]="city.cityId">
                {{ city.cityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="28">
            <mat-select
              tabindex="5"
              placeholder="Barangay"
              name="city"
              formControlName="barangay"
            >
              <mat-option
                *ngFor="let barangay of barangays"
                [value]="barangay.barangayName"
              >
                {{ barangay.barangayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="43">
            <mat-label>Complete Address</mat-label>
            <input
              tabindex="6"
              type="text"
              matInput
              formControlName="completeAddress"
            />
          </mat-form-field>
        </div>
      </div>
        <div class="button-wrapper" fxLayout="row" fxFlex="100">
        <button
        fxFlex="33"
          [disabled]="isSave"
          (click)="save()"
          class="btn btn-success"
          type="submit"
          tabindex="9"
          mat-raised-button
        >
          <mat-icon>library_add</mat-icon>
          Save
        </button>
        <button
        fxFlex="33"
          class="btn btn-primary"
          type="button"
          (click)="reset()"
          tabindex="10"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>restart_alt</mat-icon>
          Reset
        </button>
        <button
        fxFlex="33"
          class="btn btn-danger"
          type="button"
          tabindex="11"
          (click)="cancel()"
          mat-raised-button
          mat-raised-button
        >
          <mat-icon>highlight_off</mat-icon>
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
