@import "../main";

.barangay-wrapper {
  padding: 0.5rem;
  box-shadow: $box-shadow-black-all-lg;
  background: $bg-linear-gradient;
  width: 33%;
  margin: 0 auto;
  margin-top: .5rem;
  transform: scale(.95);
  .barangay-body {
    background-color: whitesmoke;
    padding: 1rem;
    .barangay-header {
      position: absolute;
      width: 90%;
      margin-top: -2.5rem;
      .barangay-title {
        background: $bg-gradient-circle;
        color: white;
        padding: 0.5rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        font-family: monospace;
      }
    }
    .barangay-wrapper {
      padding: 0 1rem;
      padding-top: 0.7rem;
      margin: 0 auto;
      margin-top: 1rem;
      height: 3.8rem;
      background: none;
      box-shadow: none;
      transform: scale(.99);
      border-radius: 5px;
      .my-form-field .mat-form-field-wrapper {
        margin-bottom: -1em;
      }
    }
    .barangay-button-wrapper {
      margin: 0 auto;
      padding-bottom: .3rem;
      .btn {
        border-radius: 1rem;
        border-radius: 5rem;
        transform: scaleY(0.8);
      }
    }
    .barangay-table-wrapper {
    border-radius: 5px;
    
      mat-table{
        margin-top: -.4rem;
        transform: scaleY(.89);
      }
    }
    .barangay-paginator {
      margin-top: -1.25rem;
      transform: scaleY(0.8);
    }
  }
}
