@import "../_main.scss";
.voucher-container {
  padding: 0.5rem;
  box-shadow: $box-shadow-black-all-lg;
  background: $bg-linear-gradient;
  width: 33%;
  margin: 0 auto;
  margin-top: 1rem;
  transform: scale(0.95);
  .voucher-header {
    position: absolute;
    width: 92%;
    margin-top: -2.5rem;
    .title {
      background: $bg-gradient-circle;
      color: white;
      padding: 0.5rem;
      text-align: center;
      font-weight: 500;
      font-size: 1.3rem;
      font-family: monospace;
    }
  }
  .voucher-body {
    padding: 1rem;
    background-color: whitesmoke !important;
  }
  .button-wrapper {
    .btn {
      transform: scaleY(0.9);
      border-radius: 1rem;
    }
  }
}
