//start dialog-newcity.component scxx
@import "../main";

.dialog-wrapper {
  margin: -1rem;
  margin-top: 0rem;
  min-width: 100% !important;
  min-height: 100% !important;
  padding: 0.5rem;
  box-shadow: $box-shadow-black-all-lg;
  background: $bg-linear-gradient;
  transform: scale(0.95);
  .dialog-body {
    padding: 1rem;
    background-color: whitesmoke;
    .dialog-header {
      position: absolute;
      width: 90%;
      margin-top: -2.5rem;
      .dialog-title {
        background: $bg-gradient-circle;
        color: white;
        padding: 0.5rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        font-family: monospace;
      }
    }
    .dialog-wrapper {
      border-radius: 0.3rem;
      padding: 0 1rem;
      padding-top: 0.7rem;
      margin: 0 auto;
      margin-top: 1rem;
      height: 3.5rem;
      transform: scale(1);
    }
    .dialog-table-wrapper {
      margin-top: 0.5rem;
      border-radius: 0.3rem;
      width: 100%;
      transform: scaleY(0.95);
      box-shadow: $box-shadow-black-all-sm;
    }
    table {
      width: 100% !important;
      border-radius: 0.3rem;
      margin: 0;
      padding: 0;
      .mat-header-row {
        background: $info;
        height: 3rem;
      }
      .mat-header-cell {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

      }
      .mat-column-contactNumber {
        width: 25%;
        text-align: left !important;
      }
      .mat-column-firstName {
        width: 30%;
      }
      .mat-column-lastName {
        width: 30%;
      }
      .mat-column-action {
        width: 15%;
        text-align: right !important;
      }
    }
    .footer-button {
      width: 100%;
      margin: 0 auto;
      .btn {
        border-radius: 1rem;
        transform: scaleY(0.8);
      }
    }
  }
}
//end dialog-newcity.component scxx
