<div class="dialog-container">
  <div class="dialog-header">
    <h3 class="dialog-title">
      {{ transactionType }}
    </h3>
  </div>
  <div class="dialog-body" fxLayout="row wrap">
    <ng-container *ngIf="!isShowTable" class="search-input">
      <mat-form-field  appearance="outline" fxFlex="100">
        <mat-label>{{ placeHolder }}</mat-label>
        <input
          autocomplete="off"
          type="text"
          pattern="\d*"
          class="text-center"
          mask="000-000-0000"
          matInput
          tabindex="1"
          placeholder="Press Enter to Submit"
          #searchIdRef
          [formControl]="searchNumber"
          (keyup.enter)="onTransaction(transactionType)"
        />
      </mat-form-field>
      <div *ngIf="buttonNewloan" class="dialog-button-newloan" fxLayout="row wrap" fxLayout.xl="row" fxLayoutGap="1%">
        <button
        fxFlex="100"
        (click)="createPawner()"
        tabindex="3"
        mat-raised-button
        class="btn btn-success"
      >
        <mat-icon>person_add</mat-icon>
        Pawner
      </button>

        <button
        fxFlex="100"
        (click)="cancel()"
        tabindex="4"
        mat-raised-button
        class="btn btn-danger"
      >
        <mat-icon>highlight_off</mat-icon>
        Cancel
      </button>
      </div>

      <div *ngIf="!buttonNewloan" class="dialog-button" fxLayout="row" fxLayoutGap="1%" >
        <!-- <button
          fxFlex="100"
          (click)="cancel()"
          tabindex="3"
          mat-raised-button
          (click)="onTransaction(transactionType)"
          class="btn btn-success"
        >
          <mat-icon>search</mat-icon>
          Search
        </button> -->
        <button
          fxFlex="100"
          (click)="cancel()"
          tabindex="3"
          mat-raised-button
          class="btn btn-danger"
        >
          <mat-icon>highlight_off</mat-icon>
          Cancel
        </button>
      </div>
    </ng-container>

  </div>

</div>
