<div class="card">

    <mat-form-field>
        
    </mat-form-field>

    <div  style="display: flex; justify-content: center;">
        <button
          tabindex="2"
          mat-raised-button
          class="btn-success"
          style="width: 49%; margin-right: 2%"
        >
         Submit
        </button>
        <button
          (click)="cancel()"
          tabindex="3"
          mat-raised-button
          class="btn-danger"
          style="width: 49%"
        >
          Cancel
        </button>
</div>