<form #f="ngForm" [formGroup]="voucherForm" (ngSubmit)="addVoucher()" autocomplete="off">
  <div class="voucher-wrapper">
    <div class="voucher-header">
      <h2>Create Voucher</h2>
    </div>
    <div class="card">
      <div class="voucher-body">
        <mat-form-field>
          <input
          tabindex="-1"
            matInput
            formControlName="transactionDate"
            [matDatepicker]="transactionDate"
            placeholder="Transaction Date"
          />
          <mat-datepicker-toggle
          tabindex="-1"
            matSuffix
            [for]="transactionDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #transactionDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select
          tabindex="1"
            placeholder="Chose Code"
            formControlName="transactionCode"
            name="transactionCode"
          >
            <mat-option
              *ngFor="let code of transactionCodes"
              [value]="code.id"
              >{{ code.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
          tabindex="2"
            placeholder="Chose Type"
            formControlName="transactionType"
            name="transactionType"
          >
            <mat-option
              *ngFor="let type of trasactionTypes"
              [value]="type.id"
              >{{ type.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
          tabindex="3"
            placeholder="Cash/Cheque"
            formControlName="cashCheque"
            name="Cash/cashCheque"
          >
            <mat-option
              *ngFor="let cashCheque of cashCheques"
              [value]="cashCheque.id"
              >{{ cashCheque.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input tabindex="4" maxlength="15"  [inputMask]="currencyInputMask" matInput formControlName="amount" placeholder="Amount" />
        </mat-form-field>
        <mat-form-field class="txt-remarks" appearance="legacy">
          <mat-label>Remarks</mat-label>
          <textarea tabindex="5" matInput formControlName="remarks" placeholder="Remarks"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="voucher-footer">
      <button tabindex="6" [disabled]="isBtnSave" mat-raised-button class="btn-success">
        <mat-icon>save</mat-icon> Save
      </button>
      <button (click)="reset()" tabindex="7" mat-raised-button class="btn-danger">
        <mat-icon>restart_alt</mat-icon> Reset
      </button>
      <button tabindex="8" mat-raised-button class="btn-primary" (click)="close()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>
  </div>
</form>
